{% extends 'layouts/blank.html' %}
{% load static %}
{% block title %}Change password{% endblock %}

{% block staticlink %}
{% endblock %}

{% block css %}
<style>
    .rounded {
        border-radius: 20px !important;
    }

    .box-form input,
    .box-form input:focus {
        border: 1px solid #fff;
        background-color: transparent !important;
        border-radius: 20px;
    }
</style>
{% endblock %}


{% block content %}
<div class="row m-0 py-5 rounded box-form align-items-center justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 p-4 rounded shadow position-relative"
        style="backdrop-filter: blur(30px);background-color: #e5e5e529;">
        <a href="/" class="position-absolute text-dark" style="top: 20px;left:24px"><i class="fas fa-home"
                style="font-size: 24px;"></i></a>
        <h1 class="text-uppercase text-center text-light text-bold">Đổi mật khẩu</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Change password</button>
        </form>
    </div>
</div>
{% endblock %}