{% extends 'layouts/blank.html' %}
{% load static %}
{% block title %}Change password{% endblock %}

{% block staticlink %}
{% endblock %}

{% block css %}
<style>
    .rounded {
        border-radius: 20px !important;
    }

    .box-form input,
    .box-form input:focus {
        border: 1px solid #fff;
        background-color: transparent !important;
        border-radius: 20px;
    }
</style>
{% endblock %}


{% block content %}
<div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
</div>
<a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}