{% extends 'blank.html' %}
{% load static %}

{% block title %}
Đặt lại mật khẩu
{% endblock %}

{% block staticlink %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block css %}
<style>
    #wrapper {
        background-image: url('{% static "images/site-index/pronto-image-5-min.jpg" %}');
        min-height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
<div class="row m-0 pt-sm-4 pt-md-5 w-100 d-flex align-items-center justify-content-center">
    <div class="col-12 col-xl-6 py-sm-0 py-4 d-flex align-items-center bg-input-field">
        <div class="mx-md-4 my-md-3 py-md-4 p-3 w-100">
            {% if validlink %}
            <div class="my-3">
                <h4 class="text-center text-uppercase m-0 text-secondary line-title">Đặt lại mật khẩu</h4>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn bg-dark text-white rounded-pill fs-5 text-uppercase w-100 mt-3">Đổi
                    mật khẩu</button>
            </form>
            {% else %}
            <div class="my-3">
                <h4 class="text-center text-uppercase m-0 text-secondary line-title">Đặt lại mật khẩu</h4>
            </div>>
            <div class="alert alert-danger my-3 text-center" role="alert">
                Dường như bạn đã truy cập vào đường dẫn không hợp lệ! Vui lòng thử lại
            </div>
            <div class="my-3 text-center">
                <span class="text-secondary"><a href="{% url 'password_reset' %}"
                        class='text-primary text-decoration-none'>Gửi lại đường dẫn mới</a></span>
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}