{% extends 'blank.html' %}
{% load static %}

{% block title %}
Đặt lại mật khẩu của bạn
{% endblock %}

{% block staticlink %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
<style>
    #wrapper {
        background-image: url('{% static "images/site-index/pronto-image-5-min.jpg" %}');
        min-height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
{% endblock %}


{% block content %}
<div class="row m-0 pt-sm-4 pt-md-5 w-100 d-flex align-items-center justify-content-center">
    <div class="col-12 col-xl-6 py-sm-0 py-4 d-flex align-items-center bg-input-field">
        <div class="mx-md-4 my-md-3 py-md-4 p-3 w-100">
            <div class="my-3">
                <h4 class="text-center text-uppercase m-0 text-secondary line-title">Gửi mail thành công</h4>
            </div>
            <div class="my-3">
                <p class="text-center">Kiểm tra đường dẫn để đặt lại mật khẩu trong email chúng tôi gửi tới
                    ban. Sẽ mất khoảng vài phút và hãy kiểm tra cả trong thư spam.</p>
            </div>
            <div class="my-3">
                <a href="{% url 'login' %}"
                    class="btn bg-dark text-white rounded-pill fs-5 text-uppercase w-100 mt-3">Quay lại đăng nhập</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}