{% extends 'layouts/blank.html' %}
{% load static %}
{% block title %}
Đăng ký
{% endblock %}

{% block staticlink %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block css %}
<style>
    #wrapper {
        background-image: url('{% static "images/site-index/pronto-image-5-min.jpg" %}');
        min-height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    ul {
        margin: 0;
    }
</style>
{% endblock %}


{% block content %}
<div class="row m-0 pt-sm-4 pt-md-5 w-100 d-flex align-items-center justify-content-center">
    <div class="col-12 col-xl-6 py-sm-0 py-4 d-flex align-items-center bg-input-field">
        <div class="mx-md-4 my-md-3 py-md-4 p-3 w-100">
            <div class="my-2">
                <h4 class="text-center text-uppercase m-0 text-secondary line-title">Đăng ký</h4>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn bg-dark text-white rounded-pill fs-5 text-uppercase w-100 mt-3">Đăng
                    ký</button>
            </form>
            <div class="my-3 text-center">
                <span class="text-secondary">Đã có tài khoản? <a href="{% url 'login' %}"
                        class='text-primary text-decoration-none'>Đăng nhập!</a></span>
            </div>
            <div class="my-3 text-center">
                <span class="text-secondary"><a href="{% url 'home' %}" class='text-primary text-decoration-none'>Quay
                        lại trang chủ</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}