{% extends 'layouts/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Giỏ hàng
{% endblock %}

{% block css %}
{% endblock %}

{% block staticlink %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
{% if msg %}
<script>
    swal("Thành công!", "Đơn hàng của bạn đã được khởi tạo!", "success");
</script>
{% endif %}


{% if carts %}
<div class="w-100 row mx-0 px-2 py-2 my-2 border-bottom d-none d-lg-flex">
    <div class="col-4 col-sm-3 col-md-2 col-xxl-1 m-0 px-0 py-3 d-flex">
        <span class="text-uppercase fs-5 fw-bold">Sản phẩm</span>
    </div>
    <div class="col-8 col-sm-9 col-md-10 col-xxl-11 m-0 px-0 py-3 row mx-0">
        <div class="col-4 col-xl-3 col-xxl-4 row m-0 p-0"></div>
        <div class="col-4 col-xl-5 col-xxl-4 row m-0 p-0">
            <div class="col-6 text-uppercase px-0">Giá</div>
            <div class="col-6 text-uppercase px-0">số lượng</div>
        </div>
        <div class="col-4 row m-0 p-0">
            <div class="col-8 p-0 text-uppercase text-center">Tổng giá</div>
            <div class="col-4 p-0 text-uppercase text-center">Hành động</div>
        </div>
    </div>
</div>
<div class="w-100 row mx-0 px-0" id="cart">
{% for item in carts %}
<!-- product: item.product, quantity: item.quantity -->
    <div class="col-12 row mx-0 py-2 my-3 my-md-2 border-bottom border-top p-0 row-product cart-item" data-id="{{ item.product.id|encrypt_string }}">
        <a href="{% url 'detail' %}?slug={{ item.product.slug }}" class="text-decoration-none col-4 col-sm-3 col-md-2 col-xl-1">
            <div class="w-100 m-0 px-0 d-flex justify-content-center align-items-center" style="aspect-ratio: 2 / 3;background-color: rgb(0 0 0 / 10%);">
                <img src="{% static 'images' %}/{{ item.product.image }}" loading='lazy' class="object-fit-cover w-100 px-0">
            </div>
        </a>
        <!--information-->
        <div
            class="col-8 col-sm-9 col-md-10 col-xl-11 m-0 px-0 row d-flex justify-content-center align-items-center px-2 px-md-0 px-md-0">
            <div class="col-12 col-md-4 fs__14px px-0 px-md-3 my-1">
                <p class="w-100 fs-name m-0">
                    {{ item.product.name }}
                </p>
            </div>
            <!--price-->
            <div class="col-12 col-md-3 col-lg-4 row m-0 my-1 p-0 align-items-center justify-content-center">
                <div class="col-lg-6 d-none d-lg-flex p-0 justify-sm-content-center" id="price_{{ item.product.id|encrypt_string }}"
                    data-price="{{ item.product.selling_price }}">
                    <span class="d-md-none me-2">
                        Giá
                    </span>
                    {{ item.product.selling_price|format_number }} VND
                </div>
                <!--quantity-->
                <div class="col-12 col-lg-6 p-0 text-md-center">
                    <p class="d-lg-none my-0">
                        Số lượng
                    </p>
                    <div class="d-flex justify-content-md-center justify-content-lg-start">
                        <button type="button" data-id="{{ item.product.id|encrypt_string }}"
                            class="btn btn-gray border-end border-0 border-dark btnDESC d-md-flex justify-content-center align-items-center">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="text" id="amount_{{ item.product.id|encrypt_string }}" data-id="{{ item.product.id|encrypt_string }}"
                            value="{{ item.quantity}}" onchange="totalPayment()"
                            class="text-center d-inline-block amountInput">
                        <button type="button" data-id="{{ item.product.id|encrypt_string }}"
                            class="btn btn-gray border-start border-0 border-dark btnASC d-md-flex justify-content-center align-items-center">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <div class="d-block w-100 text-start">
                        <small id="existing_product_{{ item.product.id|encrypt_string }}" class="w-100 text-md-center text-lg-start d-block"
                            data-existing-product="{{ item.product.quantity }}">
                            Kho: {{ item.product.quantity }} sản phẩm
                            
                        </small>
                        <small id="notify_{{ item.product.id|encrypt_string }}" class="d-none text-md-center text-lg-start text-danger">
                            Không đủ đáp ứng
                        </small>
                    </div>
                </div>
            </div>
            <!--total price-->
            <div class="col-12 col-md-5 col-lg-4 row m-0 p-0 my-1">
                <div class="col-8 p-0 text-md-center text-red">
                    <p class="d-lg-none d-inline-block d-md-block text-black my-0">
                        Tổng
                        :
                    </p>
                    <span id="total_product_price_{{ item.product.id|encrypt_string }}" class="total-price"
                        data-total-price="{{ item.total_price }}">
                        {{ item.total_price|format_number }} VND
                    </span>
                </div>
                <!--action-->
                <div class="col-4 p-0 text-md-center">
                    <btn data-id="{{ item.product.id|encrypt_string }}"
                        class="btn bg-transparent w-100 p-0 btn-delete" onclick="deleteCart(this)"><i class="far fa-trash-alt"></i></btn>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<div class="w-100 row mx-0 px-2 my-4 d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-6 m-0 px-0 d-flex">
    </div>
    <div class="col-12 col-md-6 m-0 px-0 row text-end">
        <div class="col-12 px-0 mb-1">
            <p class="m-0 text-uppercase fs-6">Tổng thanh toán: <span class="fs-3 text-red" id="total_payment"></span>
            </p>
        </div>
        <div class="col-12 text-uppercase p-0">
            <a href="{% url 'checkout' %}" class="btn bg-black text-white fw-light">Thanh toán</a>
        </div>
    </div>
</div>

{% else %}
<div class="w-100 mx-0 text-center my-4 my-md-5 py-md-5">
    <img src="{% static 'images/cart.png' %}" class="w-25 my-2"><br>
    <a href="{% url 'shop' %}" class="text-decoration-none"><small class="text-dark">Tiếp tục mua sắm <i
                class="fas fa-arrow-right"></i></small></a>
</div>
{% endif %}

{% endblock%}

{% block scripts %}
<script src="{% static 'js/cart.js' %}" defer></script>
{% endblock %}