{% extends 'layouts/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block css %}
<style>
    /* .swiper {
        width: 100%;
      height: 100%;
    }
    .swiper-button-next,.swiper-button-prev {
        background-image: none;
        background-size: 0;
        background-repeat: no-repeat;
        background-position: 0;
        margin-top: -1rem;
    }
    .swiper-button-next .arrow-icon,.swiper-button-prev .arrow-icon {
        font-size: 2rem;
        color: #000;
    } */
</style>
{% endblock %}
{% block staticlink %}
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/product-detail.css' %}">
<link rel="stylesheet" href="{% static 'css/easyzoom.css' %}">
<script src="{% static 'js/easyzoom.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row py-3 m-0 px-auto w-100 overflow-hidden justify-content-center">
    <div class="col-12 col-md-5 px-auto">
        <div class="product__carousel ps-md-3 ps-lg-4 ps-xl-5 mt-0">
            <!-- Swiper and EasyZoom plugins start -->
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide easyzoom easyzoom--overlay">
                        <a href="{% static 'images'%}/{{ product.image}}">
                            <img src="{% static 'images'%}/{{ product.image}}">
                        </a>
                    </div>
                    {% if product.related_images %}
                    {% for img in product.related_images|split_string:";" %}
                    {% if img %}
                    <div class="swiper-slide easyzoom easyzoom--overlay">
                        <a href="{% static 'images'%}/{{ img }}">
                            <img src="{% static 'images'%}/{{ img }}">
                        </a>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{% static 'images'%}/{{ product.image}}">
                    </div>
                    {% if product.related_images %}
                    {% for img in product.related_images|split_string:";" %}
                    {% if img %}
                    <div class="swiper-slide">
                        <img src="{% static 'images'%}/{{ img }}">
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <!-- Swiper and EasyZoom plugins end -->
        </div>
    </div>

    <div class="col-12 col-md-7 product-information" data-id="{{ product.id|encrypt_string }}">
        <span class="mt-md-3 fs-3 m-0 fw-bolder text-uppercase d-block"><span class="badge rounded-0 bg-danger"
                id="outOfStock">Out of stock</span> {{ product.name }}</span>
        <div class="d-flex w-100 mb-3 mb-md-4">
            <span class="fw-light px-3 border-end fs-6 text-secondary">
                <span class="border-bottom border-dark text-danger fs-5">
                    {{ product.viewed|format_number }}
                </span> Đã xem
            </span>
            <span class="fw-light px-3 fs-6 text-secondary">
                <span class="border-bottom border-dark text-danger fs-5">
                    {{ product.fake_sold|format_number }}
                </span> Đã bán
            </span>
        </div>
        <div class="w-100 my-3 py-2 py-md-3 px-1 px-md-3 bg-lighter-gray">
            {% if product.discount %}
            <div class="my-2 fs-3 m-0 fw-bold text-danger">
                <span class="fw-light price text-decoration-line-through text-dark fs-6"
                    data-price="product.selling_price">{{ product.regular_price|format_number }}VND</span> {{ product.selling_price|format_number }}VND
                <span class="badge bg-danger fs-6 text-light text-uppercase fw-light mx-md-3">-{{ product.discount }}%</span>
            </div>
            {% else %}
            <span class="my-2 fs-4 m-0 fw-bold price d-block text-danger" data-price="product.selling_price">{{ product.selling_price|format_number }}VND</span>
            {% endif %}
        </div>
        <div class="w-100 row m-0 p-0">
            <span class="fw-light col-12 col-sm-3 px-1 fs-5 d-block mb-2">Type:</span>
            <div class="col-12 col-sm-9 mx-0 px-0 fw-light text-uppercase fs-5">
                {{ product.category.name }}
            </div>
        </div>
        <div class="w-100 row m-0 p-0">
            <span class="fw-light col-12 col-sm-3 px-1 fs-5 d-block mb-2">Commit:</span>
            <ul class="col-12 col-sm-9 mx-0 px-0 list-unstyled">
                <li class="d-flex my-2">
                    <img src="{% static 'images/box_ico.png' %}" class="me-3 my-auto">
                    <p class="p-0 m-0 fw-light">100% genuine product</p>
                </li>
                <li class="d-flex my-3">
                    <img src="{% static 'images/product_deliverly_ico.png' %}" class="me-3 my-auto">
                    <p class="p-0 m-0 fw-light">Expected delivery:<br>
                        <span class="fw-bold">Monday - Friday from 9:00 am - 5:00 pm</span>
                    </p>
                </li>
                <li class="d-flex my-2">
                    <img src="{% static 'images/tel_ico.png' %}" class="me-3 my-auto">
                    <p class="p-0 m-0 fw-light">24/7 support<br>
                        With chat, email & phone channels</p>
                </li>
            </ul>
        </div>
        <div class="w-100 row mx-0 my-2 p-0">
            <span class="fw-light col-12 col-sm-3 px-1 fs-5">Số lượng:</span>
            <div class="col-12 col-sm-9 m-0 p-0">
                <div class="w-100 d-flex">
                    <button type="button" onclick="reduceProductQuantity()" id="btnDESC"
                        class="btn btn-gray d-inline-block fw-bolder border-top-0 border-bottom-0 border-start-0 border-dark">
                        -
                    </button>
                    <input type="text" id="amountInput" value="1" class="text-center d-inline-block">
                    <button type="button" onclick="increaseProductQuantity()" id="btnASC"
                        class="btn btn-gray d-inline-block fw-bolder border-top-0 border-bottom-0 border-end-0 border-dark">
                        +
                    </button>
                </div>
                <i class="notifyColor mt-md-2 mt-lg-2 mt-xl-0 ml-2 d-block" id="quantity"
                    data-quantity="{{ product.quantity }}">Kho
                    : {{ product.quantity }} sản phẩm</i>
                <small id="notify" class="text-danger w-100 my-2" data-out-of-stock="Đã đạt tối đa sản phẩm!"
                    data-validate="Chọn loại sản phẩm"></small>
            </div>
        </div>
        <div class="w-100 row mx-0 px-0">
            <button
                class="btn btn-dark p-2 me-lg-3 my-2 my-sm-0 my-md-2 my-lg-0 col-12 col-sm-6 col-md-12 col-lg-5 text-dark bg-white border border-dark rounded-0"
                id="btnAddToCart"><i class="fas fa-cart-plus"></i> Thêm vào giỏ hàng
            </button>
            <a class="btn p-2 btn-dark text-light col-12 col-sm-6 col-md-12 col-lg-5 text-light rounded-0"
                href="{% url 'checkout' %}" id="btnBuyNow">Mua ngay</a>

        </div>
    </div>

    <div class="w-100 my-2 mx-0 px-0">
        <div class="accordion p-0" id="accordionInformation">
            <div class="accordion-item border-0">
                <div class="accordion-header" id="headingInf">
                    <button
                        class="fs-4 accordion-button text-uppercase bg-white fw-bold text-dark px-0 rounded-0 border-bottom border-dark"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseInf" aria-expanded="true"
                        aria-controls="collapseInf">
                        Chi tiết sản phẩm
                    </button>
                </div>
                <div id="collapseInf" class="accordion-collapse collapse show" aria-labelledby="headingInf"
                    data-bs-parent="#accordionInformation">
                    <div class="accordion-body fw-light border-bottom border-dark">
                        {% if product.description %}
                        {{ product.description|safe }}
                        {% else %}
                        Chưa có mô tả cho sản phẩm này!
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for key, value in related_product.items %}
    <div class="w-100 my-2 mx-0 px-3 px-md-0">
        <p class="m-0 text-uppercase border-bottom border-dark px-0 fw-bolder fs-4 pt-3 pb-2">
            {{ key }}
        </p>
    </div>
    <div class="row m-0 px-0 pb-5 px-md-5 w-100">
        <div class="w-100 row p-0 m-0">
            <div class="swiper position-relative">
                <div class="swiper-wrapper">
                    {% for product in value %}
                    <div class="swiper-slide col-12 col-sm-6 col-lg-4 col-xl-3 col-xxl-2_4 mx-0 py-3 position-relative product-card overflow-hidden">
                        <div class="position-relative overflow-hidden w-100 img-shadow">
                            <a href="{% url 'detail' %}?slug={{ product.slug }}" class="text-decoration-none text-dark px-0 w-100 position-relative">
                                <div class="position-relative product-img w-100">
                                    <img class="img-product"
                                            src="{% static 'images' %}/{{ product.image }}" loading='lazy'>
                                </div>
                                <div class="pr-inf px-2 px-lg-1 px-xl-2 py-2 w-100 border-top">
                                    {% if product.discount %}
                                    <span class="px-0 fw-bold mt-2 p-price text-danger d-block" style="min-height: 44px !important;">
                                        <span class="text-decoration-line-through text-dark fw-light fs-regular-price">{{ product.regular_price|format_number }}VND</span> {{ product.sale_price|format_number }}VND
                                    </span>
                                    {% else %}
                                    <span class="px-0 fw-bold mt-2 p-price d-block" style="min-height: 44px !important;">{{ product.selling_price|format_number }}VND</span>
                                    {% endif %}
                                    <p class="m-0 product-name">{{ product.name }}</p>
                                </div>
                            </a>
                            {% if product.discount %}
                                <div class="sale-tag">
                                    <span>-{{ product.discount }}%</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="col-12 p-0 m-0 text-end mb-3">
                <a href="{% url 'shop' %}" class="" style="color: #000 !important;"><i>Tất cả sản phẩm >></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}


{% block scripts %}
<script src="{% static 'js/product-detail.js' %}" defer></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script>
    var swiper = new Swiper('.swiper', {
        slidesPerView: 1,
        // spaceBetween: 5,
        loop: true,
        // init: false,
        // pagination: {
        //     el: '.swiper-pagination',
        //     clickable: true,
        // },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev"
        },
        breakpoints: {
            576: {
                slidesPerView: 2,
            },
            992: {
                slidesPerView: 3,
            },
            1200: {
                slidesPerView: 4,
            },
            1400: {
                slidesPerView: 5,
            },
        }
    });
</script>
{% endblock %}


<h1>Sản phẩm: Áo khoác dạ cao cấp</h1>
<p>Chất liệu dạ cao cấp, form dáng vừa vặn phù hợp với dáng người. Túi áo nắp hộp, có túi ngực, bên trong áo có túi sơ cua tiện lợi. Cánh tay áo đính thêm cúc tạo điểm nhấn, áo 2 lớp dày dặn ấm áp.</p>

<p><strong>Màu sắc:</strong> Họa tiết Ghi Khói</p>

<h2>Thông tin sản phẩm</h2>
<ul>
    <li><strong>Dòng sản phẩm:</strong> Men</li>
    <li><strong>Nhóm sản phẩm:</strong> Áo khoác</li>
    <li><strong>Cổ áo:</strong> Cổ hai ve</li>
    <li><strong>Tay áo:</strong> Tay dài</li>
    <li><strong>Kiểu dáng:</strong> Ôm</li>
    <li><strong>Độ dài:</strong> Thường</li>
    <li><strong>Họa tiết:</strong> Họa tiết khác</li>
    <li><strong>Chất liệu:</strong> Dạ</li>
</ul>

<h2>Bảng tư vấn SIZE MEN (Cân nặng- Chiều cao)</h2>
<table>
    <tr>
        <th>Size</th>
        <th>Cân nặng (kg)</th>
        <th>Chiều cao (cm)</th>
    </tr>
    <tr>
        <td>S</td>
        <td>55-65</td>
        <td>162-168</td>
    </tr>
    <tr>
        <td>M</td>
        <td>65-68</td>
        <td>168-172</td>
    </tr>
    <tr>
        <td>L</td>
        <td>67-73</td>
        <td>172-176</td>
    </tr>
    <tr>
        <td>XL</td>
        <td>74-78</td>
        <td>176-180</td>
    </tr>
    <tr>
        <td>XXL</td>
        <td>78-85</td>
        <td>180-185</td>
    </tr>
</table>

<h2>Bảng tư vấn SIZE</h2>
<table>
    <tr>
        <th>Size</th>
        <th>Vai (cm)</th>
        <th>Ngực (cm)</th>
        <th>Eo (cm)</th>
        <th>Mông (cm)</th>
    </tr>
    <tr>
        <td>S</td>
        <td>44</td>
        <td>90</td>
        <td>88</td>
        <td>91</td>
    </tr>
    <tr>
        <td>M</td>
        <td>45</td>
        <td>94</td>
        <td>92</td>
        <td>95</td>
    </tr>
    <tr>
        <td>L</td>
        <td>46</td>
        <td>98</td>
        <td>96</td>
        <td>99</td>
    </tr>
    <tr>
        <td>XL</td>
        <td>47</td>
        <td>102</td>
        <td>100</td>
        <td>104</td>
    </tr>
    <tr>
        <td>XXL</td>
        <td>48</td>
        <td>106</td>
        <td>104</td>
        <td>109</td>
    </tr>
</table>

<p><strong>Thông tin thương hiệu:</strong> Thành lập từ tháng 10/2005, hiện tại DEOBELLY đã trở thành thương hiệu thời trang số 1 trên thị trường thời trang Việt Nam. Tính đến thời điểm năm 2019, DEOBELLY đang có sự đóng góp từ hơn 3000 nhân sự tại các khối: Văn phòng, Nhà máy và hệ thống 77 Cửa hàng trên toàn quốc, 7 cửa hàng Đại lý.</p>

<p><strong>Lưu ý QUAN TRỌNG:</strong> Bảng size chart chỉ mang tính chất tham khảo, tùy thuộc vào số đo cơ thể mỗi người và chất liệu vải khác nhau sẽ có sự chênh lệch nhất định từ 1 - 2cm.</p>

<p><strong>CAM KẾT:</strong> 100% hàng chính hãng từ DEOBELLY</p>

<p><strong>Đội ngũ CSKH của DEOBELLY luôn tư vấn tận tâm, hỗ trợ nhiệt tình nhất với khách hàng.</strong></p>

<p><strong>DEOBELLY cảm ơn quý khách hàng đã tin yêu sản phẩm và mua hàng tại shop !</strong></p>

<p><strong>DEOBELLY TUYÊN NGÔN THỜI TRANG CỦA TÔI</strong></p>