{% extends 'layouts/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
DE OBELLY - Điều khoản & Dịch vụ
{% endblock %}

{% block header %}
{% endblock %}
{% block staticlink %}
<link rel="stylesheet" href="{% static 'css/terms.css' %}">
{% endblock %}

{% block content %}
<div class="my-4" id="contentTerms">
    <h1 class="text-center">Điều khoản và Dịch vụ</h1>
    <hr>
    {% for item in terms %}
        <h5>{{ item.title }}</h5>
        {{ item.content|safe }}
    {% endfor %}
</div>


{% endblock%}